#quote{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    width: 380px;
    text-align: center;
    letter-spacing: 0.9px;
    line-height: 40px;
    position: relative;
    color: orange;
}
#author{
    color: white;
    font-size: 24px;
    letter-spacing: 0.9px;

}
body{
    background-color: black;
}
#quotation{
    width: 80px;
    height: 80px;
    transform: rotateZ(180deg);
}
#quotation1{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 105px;
    left: 555px;
}
.big{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}
#button{
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: gray;
    letter-spacing: 1px;
    cursor: pointer;
    position: fixed;
    bottom: 100px;

}
.quote-box{
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    border: 2px solid;
    justify-content: center;
    align-items: center;
}
